/* Fonts */
@import url("https://use.typekit.net/bbq2vww.css");
@import url("https://use.typekit.net/bbq2vww.css");

/* Navigation */
.button-nav {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    padding: 8px 40px;
    margin: 10px 10px;
    background-color: white;
    border: solid black 1px;
    border-radius: 5px;
}

.button-nav:hover {
    background-color: whitesmoke;
}

.button-nav:focus{
    outline: none;
    background-color: whitesmoke;
}

/* Header */
.header .img-overlay {
    background: black;
    overflow: hidden;
    height: 769px;
    width: 1367px;
}

.header img {
    height: 769px;
    width: auto;
    opacity: 0.4;
}

/* .quote {
    position: absolute;
    color: black;
    font-size: 30px;
    
}

.header-quote {
    font-family: abril-fatface, serif;
    font-weight: 400;
    font-style: normal;
}

.header-quote-name {
    font-family: abril-display, serif;
    font-weight: 400;
    font-style: normal;
} */

/* Form */
form {
    display: flex;
    flex-direction: column;
}

.form-button {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    padding: 15px;
    border-radius: 5px;
    width: 250px;
    height: auto;
    margin: 15px 0px 10px 70px;
}

.form-button:focus {
    outline: none;
}

.button-submit {
    width: 250px;
    height: 50px;
    font-size: 20px;
    border-radius: 100px;
    background-color: black;
    color: white;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    border: none;
    transition: 0.5s ease;
    margin: 15px 0px 10px 70px;

}

.button-submit:hover{
    cursor: pointer;
}

.button-submit:active {
    transform: translateY(-2px);
}

.button-submit:focus {
    outline: none;
}