<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dunder Mifflin Paper Co</title>
</head>
<body>
    <h1>Welcome to the Dunder Mifflin Paper Company's Official Website.</h1>
    <h3>Please login or register to place an order with us.</h3>

    <a href="/users/register">Register</a>

    <a href="/users/login">Login</a>

    <a href="/order">Order</a>
</body>
</html>