<h1>Order</h1>
<p>Welcome <%= name %>. Would you like to place an order with us today?</p>
<a href="/users/logout">Logout</a>
<form action="/users/order" method="POST">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="name"
        id="name"
        name="name"
        class="form-control"
        placeholder="Enter Name"
        value="<%= typeof name != 'undefined' ? name : '' %>"
      />
    </div>
    <div class="form-group">
      <label for="product">Product</label>
      <input
        type="product"
        id="product"
        name="product"
        class="form-control"
        placeholder="Pick Product"
        value="<%= typeof product != 'undefined' ? product : '' %>"
      />
    </div>
    <div class="form-group">
      <label for="amount">Amount</label>
      <input
        type="amount"
        id="amount"
        name="amount"
        class="form-control"
        placeholder="Type Amount"
        value="<%= typeof amount != 'undefined' ? amount : '' %>"
      />
    </div>
    <button type="submit">
      Place Order
    </button>
  </form>
